{
  "presets": [
    "react",
    "env"
  ],
  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}