html, body {
  height: 100vh;
  width: 100vw;
  background-color: #333;
  color: #ddd;
  margin: 0;
  padding: 0;
}

button, a {
  color: white;
  border: none;
  background-color: #333;
}
button:focus, a:focus, input:focus {
  outline: none;
}
input {
  border: none;
  background-color: #333;
  color: white;
  width: 100%;
  height: 20pt;
  line-height: 20pt;
  font-size: 10pt;
  padding: 0 5pt;
}

#app-wrapper {
  font-size: 0;
}

.filesystem-component {
  width: 300px;
  height: 100vh;
  box-sizing: border-box;
  padding: 10pt 20pt;
  display: inline-block;
  background-color: #222;
  overflow: auto;
}

.virtual-folder p, .virtual-notebook {
  font-size: 10pt;
  font-family: monospace;
}
.virtual-notebook,
.virtual-folder > .virtual-folder {
  margin-left: 10pt;
}
.virtual-folder[data-expand="false"] > .virtual-notebook,
.virtual-folder[data-expand="false"] > .virtual-folder {
  display: none;
}

.virtual-folder-new-input {
  margin-left: 10pt;
  width: calc(100% - 20pt);
  transition: .25s;
}
.virtual-folder-new-input:focus {
  background-color: #555;
  transition: .25s;
}

.fadeIn {
  animation: fadeIn .5s;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to   { opacity: 1 }
}