@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');

html, body {
  height: 100vh;
  width: 100vw;
  background-color: #333;
  color: #ddd;
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', sans-serif;
}

button, a {
  color: white;
  border: none;
  background-color: #333;
}
button:focus, a:focus, input:focus {
  outline: none;
}
input {
  border: none;
  background-color: #333;
  color: white;
  width: 100%;
  height: 20pt;
  line-height: 20pt;
  font-size: 10pt;
  padding: 0 5pt;
}

.confirm, .cancel,
.confirm:hover, .cancel:hover { transition: .25s; }
.confirm { color: #3fff2e; }
.cancel  { color: #ff4040; }
.confirm:hover { color: #acffa4; }
.cancel:hover  { color: #ff9494; }

#app-wrapper {
  position: relative;
  font-size: 0;
}

nav#top-navigation-bar {
  position: absolute;
  left: 300px;
  top: 0;
  display: inline-block;
  width: calc(100vw - 300px);
  height: 30pt;
  background-color: #222;
  box-shadow: 5pt 10pt 10pt -10pt #777;
}

nav#top-navigation-bar > div.btn-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 30pt;
  padding-top: 2.5pt;
  text-align: center;
}
nav#top-navigation-bar > div.btn-wrapper > button {
  box-sizing: border-box;
  width: 25pt;
  height: 25pt;
  line-height: 25pt;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: transparent;
  border: 1pt solid #444;
  transition: .25s;
  font-size: 10pt;
  position: relative;
}
nav#top-navigation-bar > div.btn-wrapper > button:hover {
  color: #333;
  background-color: #eee;
  transition: .25s;
}
nav#top-navigation-bar > div.btn-wrapper > button + button {
  border-left: none;
}
nav#top-navigation-bar > div.btn-wrapper > button > .nav-tooltip {
  opacity: 0;
  color: #333;
  position: absolute;
  display: inline-block;
  background-color: #eee;
  width: 100pt;
  height: 30pt;
  line-height: 30pt;
  bottom: -40pt;
  left: -37.5pt;
  pointer-events: none;
  transition: .25s;
}
nav#top-navigation-bar > div.btn-wrapper > button:hover > .nav-tooltip {
  opacity: 1;
  transition: .25s;
}
nav#top-navigation-bar > div.btn-wrapper > button:hover > .nav-tooltip:before {
  content: '';
  position: absolute;
  top: -5pt;
  left: 40pt;
  width: 0;
  height: 0;
  border-left:   10pt solid transparent;
  border-right:  10pt solid transparent;
  border-bottom: 15pt solid #eee;
}

.fadeIn {
  animation: fadeIn .5s;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to   { opacity: 1 }
}