html, body {
  height: 100vh;
  width: 100vh;
  background-color: #333;
  color: #ddd;
  margin: 0;
  padding: 0;
}

button, a {
  color: white;
  border: none;
  background-color: #333;
}
button:focus, a:focus, input:focus {
  outline: none;
}

.notebook-component {
  padding: 20pt;
}

.cell-component {
  width: 100%;
  padding: 5pt;
  box-sizing: border-box;
  border: 1pt solid #777;
}
.cell-component + .cell-component {
  margin-top: 10pt;
}

.cell-component > .cell-textarea {
  width: 100%;
  line-height: 18pt;
  color: white;
  background-color: #333;
  border: 1pt solid #777;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 14px;
  padding: 3pt 5pt;
  transition: .25s;
}
.cell-component > .cell-textarea:focus {
  border: 1pt solid #ddd;
  outline: none;
  background-color: #555;
  transition: .25s;
}
.cell-component > .cell-content {
  padding: 5pt 5pt 0 5pt;
  white-space: pre;
}

.cell-content.markdown h1,
.cell-content.markdown h2,
.cell-content.markdown h3,
.cell-content.markdown h4,
.cell-content.markdown h5,
.cell-content.markdown h6 {
  margin: 0;
  border-bottom: 1pt solid #666;
}

.cell-content.markdown p {
  margin: 0;
  line-height: 16pt;
}
.cell-content.markdown a {
  color: #ccc;
}

button#new-cell-btn {
  display: block;
  margin: 10pt auto 0 auto;
  background-color: #555;
  padding: 0;
  width: 100pt;
  font-size: 10pt;
  height: 25pt;
  line-height: 25pt;
  transition: .25s;
}
button#new-cell-btn:hover {
  background-color: #ddd;
  color: #333;
  transition: .25s;
}

.fadeIn {
  animation: fadeIn .5s;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to   { opacity: 1 }
}