/* The height of navigation bar is 30pt */
.notebook-component {
  display: inline-block;
  padding: 20pt;
  margin-top: 30pt;
  font-size: 0;
  height: calc(100vh - 30pt);
  width: calc(100% - 300px);
  box-sizing: border-box;
  overflow-y: auto;
  vertical-align: top;
}

.cell-component {
  font-size: 12pt;
  display: inline-block;
  vertical-align: top;
  padding: 5pt;
  box-sizing: border-box;
  border: 1pt solid #777;
  transition: background-color .25s;
  box-shadow: 0pt 10pt 10pt -10pt #777;
}

.cell-component:hover {
  background-color: #444;
  transition: background-color .25s;
}

.cell-component.col-full {
  width: 100%;
}
.cell-component.col-half.col-main,
.cell-component.col-half.col-sub {
  width: calc(50% - 5pt);
}
.cell-component.col-half.col-sub {
  margin-left: 10pt;
}

.cell-component.col-half,
.cell-component.col-full {
  margin-top: 10pt;
}

.cell-component > .cell-textarea {
  width: 100%;
  line-height: 18pt;
  color: white;
  background-color: #333;
  border: 1pt solid #777;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  padding: 3pt 5pt;
  transition: .25s;
}
.cell-component > .cell-textarea:focus {
  border: 1pt solid #ddd;
  outline: none;
  background-color: #555;
  transition: .25s;
}
.cell-component > .cell-content {
  padding: 5pt 5pt 0 5pt;
  box-sizing: border-box;
  white-space: pre;
}
.cell-component > .cell-content.hidden-content {
  max-height: 75pt;
  overflow-y: hidden;
  position: relative;
}
.cell-component > .cell-content.hidden-content:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 75pt;
  background: linear-gradient(transparent 70%, #333);
}

.cell-content.markdown h1,
.cell-content.markdown h2,
.cell-content.markdown h3,
.cell-content.markdown h4,
.cell-content.markdown h5,
.cell-content.markdown h6 {
  margin: 0;
  border-bottom: 1pt solid #666;
}
.cell-content.markdown > * {
  max-width: 100%;
  overflow: auto;
}

.cell-content.markdown p {
  margin: 0;
  line-height: 16pt;
}
.cell-content.markdown a {
  color: #ccc;
}

.cell-component > div.control-panel {
  margin: 10pt -5pt -5pt 0;
  text-align: right;
}
.cell-component > div.control-panel > button {
  background-color: #444;
  border-left: 1pt solid #777;
  border-top: 1pt solid #777;
  transition: .25s;
  padding: 3pt 5pt;
  font-size: 10pt;
}
.cell-component > div.control-panel > button:hover {
  background-color: #ddd;
  color: #333;
  transition: .25s;
}

button#new-cell-btn {
  display: block;
  margin: 10pt auto 0 auto;
  background-color: #333;
  border: 1pt solid #777;
  padding: 0;
  width: 100pt;
  font-size: 10pt;
  height: 35pt;
  line-height: 35pt;
  transition: .25s;
}
button#new-cell-btn:hover {
  background-color: #ddd;
  color: #333;
  transition: .25s;
}

button#expand-all-cell-btn {
  display: block;
  font-size: 12pt;
  padding: 7.5pt 0;
  margin: 7.5pt -5pt 0 -5pt;
  text-align: center;
  width: calc(100% + 10pt);
  transition: .25s;
}
button#expand-all-cell-btn:hover {
  background-color: #444;
  transition: .25s;
}
